div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
}

p {
  flex: 1;
  margin: 0;
  font-weight: 500;
}

i {
  font-size: 100%;
  cursor: pointer;
}

i.heart {
  margin-right: 0.5em;
}

i.edit {
  margin-left: 8px;
  color: gray;
}

.favorite-area {
  display: flex;
  flex-flow: column;
}

.favorite-count {
  margin: 0 .5em 0 0;
  padding: 0;
}
