app-item-list {
  grid-area: list;
}

input {
  padding: 1em;
  border-radius: 0.25em;
  margin: 0.5em 0;
  border: 0;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 1em;
  color: rgba(255, 255, 255, .9);
  width: 100%;

  &::placeholder {
    color: rgba(255, 255, 255, .6);
  }

  &:focus {
    outline-width: 0;
  }
}

img {
  margin: .75em 0 .1em 0;
  padding: 0 calc(50% - 6px);
}
